* {
  cursor: default;
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Bebas Neue', cursive;
  text-shadow: 2px 5px 5px black;
}

#wrapper-rainbow {
  position: absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 30s linear infinite;
  -z-animation: rainbow 30s linear infinite;
  -o-animation: rainbow 30s linear infinite;
  animation: rainbow 30s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}

input:focus,
button:focus { outline: none; }

main {
  position: relative;
  background-color: #222020;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  margin: 4px;
  text-align: center;
  color: #9A9998;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.main-header { margin: 4%; }

.font-code { 
  font-family: 'Press Start 2P', cursive; 
  font-size: 40px;
}

.font-race { 
  font-family: 'Faster One', cursive; 
  font-size: 56px;
  position: relative;
  top: -5px;
  margin-left: 12px;
  letter-spacing: 14px;
}

.login-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.form-header {
  margin-top: 10vh;
  margin-bottom: 5vh;
  width: 100%;
  letter-spacing: 1.5px;
  color: white;
}

.login-input {
  width: 250px;
  padding: 15px 15px;
  font-size: 18px;
  border: 1px solid #a1a1a1;
  border-radius: 8px;
  letter-spacing: .8px;
}

.login-input:hover { cursor: text; }

.login-submit {
  width: 200px;
  padding: 12px 15px;
  font-size: 18px;
  border-radius: 8px;
  margin-top: 5vh;
  background-color: #36AD47;
  outline: none;
  color:white;
  font-family: monospace;
  transition: background-color 0.2s ease-in-out;
  letter-spacing: 0px;
  font-weight: bolder;
  box-shadow: 3px 5px 5px rgb(0 0 0 / 25%);
  text-shadow: 5px 5px 20px black;
  border: none;
}

.login-submit:hover { 
  background-color: #1ac933;
  cursor: pointer;
}

.nameplate-container {
  position: absolute;
  top: 2vh;
  right: 3vw;
}

.username-text {
  font-family: 'Press Start 2P';
  font-size: 15px;
  color: white;
}

.code-header {
  width: 100%;
  font-size: 50px;
  margin-top: 7vh;
  margin-bottom: 6vh;
  font-family: 'Press Start 2P';;
}

.new-highscore { 
  margin: 0px;
  color: limegreen; 
  letter-spacing: 1.5px;
}

.score-container {
  margin-top: 0vh;
  margin-bottom: 7vh;
  color: white;
}

.timer {
  font-size: 4.5em;
  margin: 0px;
}

.strikes {
  font-size: 1.5em;
  margin: 0px;
}

.code-char {
  font-family: 'Istok Web', sans-serif;
  font-size: 4vh;
  letter-spacing: 1px;
  text-shadow: none;
}

.correct { color: #008000 }

.hidden {
  opacity: 0;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.current-input { 
  background-color: grey;
  color: black;
 }

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-header {
  margin-top: 0px;
  margin-bottom: 2px;
  text-shadow: none;
}

.button-description {
  color: #383332;
  margin-top: 4px;
  margin-bottom: 0px;
  text-shadow: none;
}

.button {
  width: 80px;
  height: 80px;
  border: none;
  margin: 0px 3vw;
}

.button:hover { cursor: pointer }

.button-container {
  display: inline-block;
  margin: 0px 24px;
}

.highscore-container { margin: 6vh 0px }

.highscore-header, .highscore-text {
  color: white;
  margin: 0px;
}
